<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Twitoff</h1>
    <h3>Tweet Likelihood</h3>
    <form action='/predict' method='POST'>
    <label>User 1</label>
    <select name='user_1'>
    {% if users %}
        {% for user in users %}
            <option value="{{ user.screen_name }}">{{ user.name }}</option>
        {% endfor %}
        </ul>
    {% else %}
        <option disabled>Please enter a new user</option>
    {% endif %}
    </select>
    <br>
    <label>User 2</label>
    <select name='user_2'>
    {% if users %}
        {% for user in users %}
            <option value="{{ user.screen_name }}">{{ user.name }}</option>
        {% endfor %}
        </ul>
    {% else %}
        <option disabled>Please enter a new user</option>
    {% endif %}
    </select>
    <br>
    <input type="text" name="tweet_text" placeholder="Sample tweet">
    <br>
    <button>Submit</button>
    </form>

    <h3>Add New User</h3>
    <form action='/new_user' method='POST'>
        <input type='text' name='screen_name' placeholder="User's handle">
        <br>
        <button>Add User</button>
    </form>

    <h3>Users Added</h3>
    {% if users %}
        <ul>
        {% for user in users %}
            <li>
                <a href="/user/{{ user.screen_name }}">{{ user.name }}</a>
                <br>
                @{{ user.screen_name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users entered.</p>
    {% endif %}

    <h3>Reset Database</h3>
    <form action='/reset' method='GET'>
        <button>Reset</button>
    </form>
</body>
</html>
