<!-- 
    DELETE THIS PROBABLY
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweets Page</title>
</head>
<body>

    <h1>Welcome to the Tweets Page</h1>

    <p>{{ message }}</p>

    {% if tweets %}
    <ul>
    {% for tweet in tweets %}
        <li>{{ tweet["tweet"] }}</li>
    {% endfor %}
    </ul>

    {% else %}
        <p>Tweets not found.</p>
    {% endif %}

</body>
</html>
