<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users in the database</h2>
    {% if users %}
        <ul>
        {% for user in users %}
            <li><b>{{ user.name }}</b> - (@{{ user.screen_name }})
            <br>
            <img src= {{ user.profile }}> 
            Followers: {{ user.followers_count }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users entered.</p>
    {% endif %}
    <form action="/" method="POST">
            <button>Return Home</button>
    </form>
</body>
</html>
